* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chilanka", cursive;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center; 
  background: rgb(158 150 215 / 44%);
}
.loader {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.container {
  position: relative;
  transition: 1s;
  background: #0f122bff; 
  height: fit-content;
  overflow-x: hidden;
  max-width: 1200px;
}
.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  max-width: 100vw; 
}

.containerHeader img {
  height: 30px; 
}
.containerHeader > div {
  position: relative;
  height: 50px;
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.containerHeader button {
  background: none;
  color: white;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}
.container .share{
  margin-inline: 10px;
}
.share .clipboard-message{
  position: absolute;
  inset-inline-start: -160px;
  inset-block-start: 0px;
  isolation: isolate; 
  padding-inline: 10px;
  padding-block: 6px;
  background: white;
  color: rgb(37, 253, 37);
  border: 1px solid rgb(37, 253, 37);
  width: 150px;
  z-index: 120;
  animation: clip-message 1s ease-in-out;
}
.containerHeader button:hover {
  transform: scale(1.2);
}
.inputSearch {
  border: none;
  outline: none;
  height: 50px;
  width: 120px;
  color: white;
  background: rgba(37, 48, 146, 0.342);
  text-align: center;
}
.inputSearch::placeholder {
  color: white;
}
.containerHeader img:hover {
  filter: drop-shadow(0px 0px 4px white);
}
.result {
  position: absolute;
  inset-block-start: 50px; 
  width: 70vw;
  max-height: 570px;
  height: fit-content;
  z-index: 2;
  background: white;
  overflow: auto;
  padding-block: 10px;
  padding-inline: 4px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto; 
  cursor: pointer; 
}
.result .result-container {
  display: flex;
  min-height: 50px;
  column-gap: 6px;
  padding-inline: 4px;
  align-items: center;
} 
.result .result-container p{
  padding-inline-end:24px ;
}
.result .result-container:hover img {
  margin-left: 20px;
  transform: scale(1.4);
}
.messageError {
  text-align: center;
  color: red;
  font-size: 20px;
  padding-block: 10px;
}
.coincidences{
  text-align: center;
  font-weight: bold;
}
.imagesContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 1220px;
  justify-content: space-around;
  gap: 4px;
  padding-bottom: 4px;
}
 
.opacity-0 {
  opacity: 0;
  pointer-events: none; 
 background: none;
}
.opacity-5{
  opacity: 0.5;
}
.p-relative {
  position: relative;
}
.transition-0 {
  transition: 0s !important;
}
.loader img {
  animation: scaleimage 1s infinite alternate ease-in-out;
  width: 90%;
  max-width: 700px;
}
.image-container {
  position: relative;
}
.image-container img {
  max-height: 274px;
}
.image-container .description {
  transition: 1s;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.description {
  background-color: rgba(20, 10, 10, 0.527);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-block: 10px;
  text-align: center;
}
.description .descriptionHeader {
  font-size: 1.4em;
  font-weight: bold;
}
.description .descriptionBody {
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.image-container:hover .description {
  opacity: 1;
  cursor: pointer;
}
.image-container:hover img {
  transition: 1s;
  filter: blur(7px);
}
@keyframes scaleimage {
  0% { 
    transform: scale(0.5) skew(0deg);
  }
  100% {
    filter: drop-shadow(0px 0px 80px #0f122bff);
    transform: scale(1) skew(14deg);
  }
}
@keyframes clip-message {
  0% {
    opacity: 0;
  }
  100% {
   opacity: 1;

  }
}
@media (max-width: 600px) {
  .imagesContainer {
    justify-content: space-around;
    row-gap: 20px;
  }
}

 @media (max-width: 500px) {
  .containerHeader { 
    flex-wrap: wrap; 
    padding: 0;
    margin-top: 20px;
    justify-content: center;
  } 
  .containerHeader img {
    height: 60px;  
  } 
  .containerHeader div {
   gap: 24px;
  } 
  .inputSearch{
    width: 70px;
  }
  .result{
    inset-inline-start: -200px;
    max-width: 73vw;
  }
} 